<div class="pokedex-container">
  <h1>Pokedex</h1>
  
  <div class="pokedex-title">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquise um Pokémon..." (input)="getGridPokemon(true)" />
    <img class="shiny" src="assets/images/shiny.png" alt="Shiny" (click)="shiny = !shiny"/>
  </div>

  <div class="row">
    <button (click)="toggleFilter()"> {{ showFilters ? 'Fechar Filtros' : 'Abrir Mais Filtros' }} </button>
    <button class="btn-secundario" (click)="limparFiltros()">Limpar Filtros</button>
  </div>

  <div *ngIf="showFilters" class="filter-container">
    <div class="filter-title">Filtrar por Tipo:</div>
    <div class="filter-grid">
      <div *ngFor="let tipo of tiposDisponiveis" (click)="toggleTipo(tipo.nome)"
        [class.selected]="selectedTipos.includes(tipo.nome)">
        <img [src]="'assets/images/tipos/' + tipo.nome + '_ico.png'" [alt]="tipo.nome" />
      </div>
    </div>
  </div>

  <div class="pokemon-grid">
    <div class="pokemon-card" *ngFor="let pokemon of paginacao.data" [routerLink]="['/pokemon', pokemon.id]">
      <img [src]="shiny ? pokemon.imagens.shiny : pokemon.imagens.padrao" [alt]="pokemon.nome"/>
      <p>{{ pokemon.nome | titlecase }}</p>

      <div class="pokemon-types">
        <span *ngFor="let tipo of pokemon.tipos" class="type">
          <img [src]="'assets/images/tipos/' + tipo.nome + '_text.png'" [alt]="tipo.nome" />
        </span>
      </div>
    </div>
  </div>

  <app-paginator [length]="paginacao.total || 0" [pageSize]="paginacao.limite || 10"
    [pageIndex]="(paginacao.pagina || 1) - 1" (pageChange)="onPageChange($event)">
  </app-paginator>

  <app-loader *ngIf="loading"></app-loader>

</div>