.pokedex-container {
  font-family: 'Roboto', sans-serif;
  padding: 40px 20px;
  background-color: var(--fundo);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--texto);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--primaria);
  font-weight: 700;
  text-align: center;
}

input {
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid var(--primaria);
  border-radius: 30px;
  outline: none;
  width: 90%;
  max-width: 450px;
  margin-bottom: 20px;
  background-color: var(--fundo2);
  color: var(--texto);
  transition: all 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus {
  border-color: var(--secundaria);
  box-shadow: 0 0 10px var(--secundaria);
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 80vw;
  margin-top: 20px;
}

.pokemon-card {
  text-align: center;
  background-color: var(--fundo2);
  border: 2px solid var(--primaria);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(255, 255, 0, 0.5);
}

.pokemon-card img {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.pokemon-card p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--texto2);
}

.pokemon-types {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.pokemon-types .type {
  display: flex;
  align-items: center;
  background-color: var(--fundo);
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.pokemon-types .type img {
  height: 18px;
  margin-right: 5px;
}

.pokemon-types .type:hover {
  transform: scale(1.1);
}

.loading-spinner {
  font-size: 18px;
  font-weight: bold;
  color: var(--primaria);
  margin-top: 20px;
  text-align: center;
}

app-paginator {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: var(--primaria);
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.filter-button:hover {
  background-color: var(--secundaria);
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--fundo2);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--texto);
  margin-bottom: 10px;
}

.filter-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.filter-grid div {
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
}

.filter-grid div img {
  height: 40px;
}

.filter-grid div:hover {
  transform: scale(1.1);
}

.filter-grid div.selected {
  img{
    border-radius: 100%;
    box-shadow: 0px 0px 20px 10px var(--secundaria);
  }
}

