.pokedex-container {
  font-family: 'Roboto', sans-serif;
  padding: 40px 20px;
  background-color: var(--fundo);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--texto);
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primaria);
    font-weight: 700;
    text-align: center;
  }

  .pokedex-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    
    .shiny{
      width: 50px;
    }
  }

  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 80vw;
    margin-top: 20px;

    .pokemon-card {
      text-align: center;
      background-color: var(--fundo2);
      border: 2px solid var(--primaria);
      border-radius: 12px;
      padding: 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 8px 20px rgba(255, 170, 0, 0.502);
      }

      img {
        // border: 1px solid #FF00AA;
        width: 100%;
        max-height: 150px;
        object-fit: contain;
        transition: transform 0.3s ease;
      }

      p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
        color: var(--texto2);
      }

      .pokemon-types {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 5px;

        .type {
          display: flex;
          align-items: center;
          background-color: var(--fundo);
          padding: 5px 10px;
          border-radius: 15px;
          font-weight: bold;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          transition: transform 0.2s ease-in-out;

          img {
            height: 18px;
            margin-right: 5px;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .loading-spinner {
    font-size: 18px;
    font-weight: bold;
    color: var(--primaria);
    margin-top: 20px;
    text-align: center;
  }

  app-paginator {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    .filter-title {
      font-size: 18px;
      font-weight: bold;
      color: var(--texto);
      margin-bottom: 10px;
    }

    .filter-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      div {
        cursor: pointer;
        padding: 5px;
        transition: transform 0.2s;

        img {
          height: 40px;
        }

        &:hover {
          transform: scale(1.1);
        }

        &.selected img {
          border-radius: 100%;
          box-shadow: 0px 0px 20px 10px var(--secundaria);
        }
      }
    }
  }
}
